<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-3.css">
    <title>WRITE WORDS</title>
</head>

<body>
    <div class="a">
        <div class="random-letter">
            <div class="letra">A</div>
        </div>
    </div>

    <div class="container-list">
        <h2>Lista de palabras</h2>
       <div class="line-black"></div>
        <ol>
            <li>Amor</li>
            <li>Alegria</li>
        </ol>

    </div>


</body>

</html>