

.a{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
}


.random-letter{
    width: 70px;
    height: 70px;
    background-color: #030677;
    color: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: relative;
}

.letra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-list{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #e3d7cc;
    flex-direction: column;
    align-items: center;
}

ol{
    display: flex;
    list-style-type: disc;
    flex-direction: column;
}

.line-black ol{
    margin: 10px 0;
    border-bottom: 1px solid black;
}